# 42 OAuth credentials
FT_CLIENT_ID=YOUR_42_APP_CLIENT_ID
FT_CLIENT_AUTH=YOUR_42_APP_AUTH_VALUE
FT_WEB_REDIRECT_URI=https://localhost

# External leaderboard service
LEADERBOARD_API_URL=

# Optional local overrides
API_BASE_URL=https://api.intra.42.fr
EXPO_PROXY_REDIRECT=https://auth.expo.io/@rperezt/swifty-companion
