# 42 API credentials (intra OAuth2)
FT_CLIENT_ID=YOUR_42_APP_CLIENT_ID
FT_CLIENT_SECRET=YOUR_42_APP_CLIENT_SECRET
FT_CURSUS_ID=21

# Leaderboard backend
#android emulator url
#LEADERBOARD_API_URL=http://10.0.2.2:4242
#localhost url for ios simulator
LEADERBOARD_API_URL=http://localhost:4242
# phisical device url (use your computer local network ip)
#LEADERBOARD_API_URL=http://192.168.1.XX:4242
LEADERBOARD_PORT=4242
LEADERBOARD_DB_PATH=./leaderboard-server/data/leaderboard.db
LEADERBOARD_SYNC_INTERVAL_MINUTES=10080
LEADERBOARD_CAMPUS_IDS=
LEADERBOARD_SYNC_TOKEN=
LEADERBOARD_SYNC_COALITIONS=0
LEADERBOARD_SYNC_LOGTIME=0
LEADERBOARD_MIN_LEVEL=0
LEADERBOARD_MAX_LEVEL=30

# Optional override
API_BASE_URL=https://api.intra.42.fr
EXPO_PROXY_REDIRECT=https://auth.expo.io/@rperezt/swifty-companion